<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
</head>
<body>
<ul>
    <li th:each="workout : ${workouts}">
        <span th:text="${workout.name}"></span>
        <span th:text="${workout.workoutDate}"></span>
        <span th:text="${workout.workoutId}"></span>

        <form method="post" th:action="@{'/workout/delete/' + ${workout.getWorkoutId()}}">
            <button type="submit">Delete</button>
        </form>

        <form method="GET" th:action="@{'/add-existing-workout/' + ${workout.getWorkoutId()}}">
            <button type="submit">Track this workout</button>
        </form>
    </li>
</ul>
</body>
</html>
