<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
</head>
<body>
<ul>
    <li th:each="workout : ${workouts}">
        <th:block th:text="${workout.name}"></th:block> <th:block th:text="${workout.workoutDate}"></th:block>
        <th:block th:text="${workout.workoutId}"></th:block>

        <th:block>
            <form method="post" th:action="@{'/workout/delete/{id}' (id=${workout.getWorkoutId()})}">
                <button type="submit">

                    <i>Delete</i>
                </button>
            </form>
        </th:block>
        <th:block>
            <form method="GET" th:action="@{'/add-existing-workout/{id}' (id=${workout.getWorkoutId()})}">
                <button type="submit">

                    <i>Track this workout</i>
                </button>
            </form>
        </th:block>

    </li>
</ul>
</body>
</html>