<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        tr{
            border: #343a40;
        }
    </style>
</head>
<body>


<h3>Workouts Done</h3>


<table style="border: solid 1px black;">
    <thead>
    <tr>
        <th>Name</th>
        <th>See history</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="w: ${workoutsByName}">
        <td th:text="${w.key}" />
        <td>
            <form th:action="@{/workout/history}" th:method="POST">
                <input type="hidden" th:value="${w.key}" name="workoutName" >
                <button type="submit">History</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>

<div><a href="/add-workout">Add a new workout or track existing</a></div>

<div><a href="/profile/edit">Edit profile</a></div>
<div><a href="/profile/weight-history">See your weight history or add new weight</a></div>
</body>
</html>