<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weight History</title>
</head>
<body>
<form action="/profile/add-weight" method="POST">
    <input type="hidden" th:value="${user.getUsername()}" name="username">
    <input type="number" name="weight">
    <button type="submit">Add weight</button>
</form>


<ul>
    <li th:each="weight : ${weights}">
        <th:block th:text="${weight.weightValue}"></th:block> <th:block th:text="${weight.date}"></th:block>

    </li>
</ul>
</body>
</html>